<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестовое задание Кварта</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <h3 class="text-center">Регистрация прошла успешно!</h3>
    <form role="form" class="form-horizontal" id="myform">
        <div class="form-group row">
            <label for="name" class="col-form-label col-sm-4 col-xs-offset-2 col-sm-offset-1">ФИО</label>
            <div class="col-xs-8 col-sm-5 col-xs-offset-2 col-sm-offset-0">
                <input type="text" class="form-control" id="name" placeholder="Фамилия Имя Отчество" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="bdate" class="col-form-label col-sm-4 col-xs-offset-2 col-sm-offset-0">Дата рождения</label>
            <div class="col-xs-8 col-sm-5 col-xs-offset-2 col-sm-offset-0">
                <input type="date" class="form-control" id="bdate" placeholder="Дата рождения" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-form-label col-sm-4 col-xs-2 col-xs-offset-2 col-sm-offset-0 text-right ">Email</label>
            <div class="col-xs-8 col-sm-5 col-xs-offset-2 col-sm-offset-0">
                <input type="email" class="form-control" id="email" placeholder="Введите email" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-form-label col-sm-4 col-xs-offset-2 col-sm-offset-0">Пароль</label>
            <div class="col-xs-8 col-sm-5 col-xs-offset-2 col-sm-offset-0">
                <input type="password" class="form-control" id="password" placeholder="Введите пароль" required>
            </div>
        </div>
        <div class="form-group row pass_confirm">
            <label for="password-confirm" class="col-form-label col-sm-4 col-xs-offset-2 col-sm-offset-0">Подтверждение
                пароля</label>
            <div class="col-xs-8 col-sm-5 col-xs-offset-2 col-sm-offset-0">
                <input type="password" class="form-control" id="password-confirm" placeholder="Введите пароль ещё раз"
                       required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-4 col-xs-offset-2 col-sm-offset-0">Секретный вопрос</label>
            <div class="col-xs-8 col-sm-5 col-xs-offset-2 col-sm-offset-0">
                <select class="form-control" id="secret-question" required>
                    <option value="">
                        Выбрать вопрос
                    </option>
                    <option>
                        Какое прозвище было у вас в детстве?
                    </option>
                    <option>
                        В каком городе вы познакомились со своей второй половиной?
                    </option>
                    <option>
                        Как звали вашего лучшего друга детства?
                    </option>
                    <option>
                        Как звали вашу первую плюшевую игрушку?
                    </option>
                    <option>
                        Какая девичья фамилия вашей бабушки?
                    </option>
                    <option>
                        Какое отчество вашего самого старого родственника?
                    </option>
                    <option>
                        О какой работе вы мечтали в детстве?
                    </option>
                    <option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="secret-answer" class="col-form-label col-sm-4 col-xs-offset-2 col-sm-offset-0">Ответ на
                секретный вопрос</label>
            <div class="col-xs-8 col-sm-5 col-xs-offset-2 col-sm-offset-0">
                <input type="text" class="form-control" id="secret-answer" placeholder="Ответ на секретный вопрос"
                       required>
            </div>
        </div>
        <div class="form-group row">
            <label for="address" class="col-form-label col-sm-4 col-xs-offset-2 col-sm-offset-0">Адрес</label>
            <div class="col-xs-8 col-sm-5 col-xs-offset-2 col-sm-offset-0">
                <input type="text" class="form-control" id="address" placeholder="Адрес" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="city" class="col-form-label col-sm-4 col-xs-offset-2 col-sm-offset-0">Город</label>
            <div class="col-xs-8 col-sm-5 col-xs-offset-2 col-sm-offset-0">
                <input type="text" class="form-control" id="city" placeholder="Город" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="phone" class="col-form-label col-sm-4 col-xs-offset-2 col-sm-offset-0">Телефон</label>
            <div class="col-xs-8 col-sm-5 col-xs-offset-2 col-sm-offset-0">
                <input type="tel" class="form-control" id="phone" placeholder="Телефон" required>
            </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
            <div class="form-group row">
                <div class="col-xs-offset-2 col-sm-offset-4">
                    <label>
                        <input type="checkbox" id="checkbox" required> Соглашение с политикой портала
                    </label>
                </div>
            </div>
            <div>
                <button type="submit" id="submit" class="btn btn-success col-xs-offset-2 col-sm-offset-4" disabled>
                    Зарегистрироваться
                </button>
                <button type="reset" class="btn btn-warning">Отмена</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>